.dropdown {
  margin: 12px 0px;
}

.dropdown__label {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 8px;
}

.dropdown__select {
  color: var(--dark-primary);
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 16px;
  width: 100%;
}

.dropdown__select--light, .dropdown__select--light::placeholder {
  background-color: var(--dark-primary);
  color: white;
}
