.header{
  display: flex;
  justify-content: space-between;
  background-color: #171921;
  align-items: center;
  padding: 0 48px;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-75%);  
}

.leftSide, .rightSide{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.link{
  text-decoration: none;
  font-size: 16px;
  transition-duration: 1s;
  color: white;
  padding: 20px 16px;
  border-radius: 4px;
  font-style:  sans-serif;
  font-variant: small-caps;
}

.link:hover{
  background-color: black;
}

.right{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}