.menuDesktop {
  display: none;

  &__link {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 1rem;
    transition: 1s;
    display: flex;
    height: 100%;

    &--active {
      border-right: 2px solid var(--theme-primary);
      border-left: 2px solid var(--theme-primary);
      background-color: var(--theme-on-surface);
      color: var(--theme-on-primary);
    }
  }

  @include mixins.for-size(tablet) {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }

  @include mixins.for-size(desktop) {
    &__link {
      font-size: 1.75rem;
    }
  }

  @include mixins.for-size(desktop-md) {
    &__link {
      padding: 0 2rem;
      font-size: 2rem;
    }
  }

  @include mixins.for-size(desktop-lg) {
    &__link {
      font-size: 2.75rem;
    }
  }
}
