.menuDesktop {
  display: none;

  &__link {
    font-family: variables.$font-title;
    color: var(--theme-on-secondary);
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    min-width: 100px;
    padding: 0 1rem;
    display: flex;
    height: 100%;

    &:hover {
      color: var(--theme-primary);
    }

    &--active {
      color: var(--theme-terciary);
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
  }

  @include mixins.for-size(tablet) {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;

    &__link {
      font-size: 1rem;

      &--active {
        div {
          background-color: var(--theme-gradient);
          position: absolute;
          height: 2px;
          width: 80%;
          bottom: 0;
        }
      }
    }
  }

  @include mixins.for-size(desktop-md) {
    &__link {
      padding: 0 2rem;
      font-size: 1.25rem;
    }
  }
}
