.emailForm {
  box-shadow: 0 5px 15px var(--theme-smoke-down),
    0 -3px 10px var(--theme-smoke-up);
  background-color: var(--theme-background);
  border-radius: variables.$br-default;
  flex-direction: column;
  align-items: center;
  max-width: 85rem;
  padding: clamp(0.5rem, 2vh, 1rem);
  display: flex;
  width: 100%;
  gap: clamp(1rem, 2.5vh, 3vh);

  &__sub {
    color: var(--theme-primary);
    font-family: variables.$font-title;
    font-size: 1.5rem;
    font-weight: 700;
  }

  @include mixins.for-size(desktop) {
    padding: max(2vh, 1rem);

    &__sub {
      margin-bottom: clamp(0.5rem, 1vh, 1rem);
      font-size: 2rem;
    }
  }

  @include mixins.for-size(desktop-md) {
    &__sub {
      font-size: 2.5rem;
    }
  }

  @include mixins.for-size(desktop-md) {
    &__sub {
      font-size: 3.5rem;
    }
  }
}
