.emailForm {
  flex-direction: column;
  display: flex;
  gap: 3vh;

  @include mixins.for-size(tablet) {
  }

  @include mixins.for-size(desktop) {
  }

  @include mixins.for-size(desktop-md) {
  }

  @include mixins.for-size(desktop-md) {
  }
}
