

.timeline {
  flex-direction: column;
  display: flex;
  gap: 4rem;

  &__sub {
    font-family: variables.$font-title;
    color: var(--theme-primary);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
  }

  &__container {
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    gap: 3rem;
  }

  &__line-bg,
  &__line {
    border-radius: variables.$br-default;
    position: absolute;
    width: 4px;
    bottom: 0;
    left: 17px; /* Align with the EventMarker circle which will be around 17px on mobile */
    top: 0;
  }

  &__line-bg {
    background-color: var(--theme-on-primary);
    opacity: 0.3;
  }

  &__line {
    background-color: var(--theme-primary);
    z-index: 0;
  }

  @include mixins.for-size(tablet) {
  }

  @include mixins.for-size(desktop) {
    gap: 5rem;

    &__container {
      gap: 3rem;
    }

    &__line-bg,
    &__line {
      transform: translateX(-50%);
      left: 50%;
    }
  }

  @include mixins.for-size(desktop-md) {
  }

  @include mixins.for-size(desktop-lg) {
  }
}
