.black {
  background-color: black;
  width: 100px;
  height: 100px;

}

.project {
  box-shadow: 8px 8px 25px rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  border-style: none;
}

.projectLinks {
}