.project {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  color: var(--dark-primary);
  background-color: white;
  border-radius: 48px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project--light {
  background-color: var(--dark-primary);
  color: white;
}

.project__title {
  font-size: 2rem;
  margin: 24px 0;
}

.project__content {
  width: 90%;
  height: 65%;
  display: flex;
  gap: 4%;
}

.project__img {
  width: 58%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50%;
  border-radius: 16px;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.4);
}

.project__information{
  width: 38%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.project__para {
  text-align: center;
  font-size: 1.15rem;
}

.project__links {
  display: flex;
  gap: 12px;
}

@media only screen and (max-width: 780px) {
  .project__para{
    font-size: 0.9rem;
  }
  .project__content{
    height: 70%;
  }
}

@media only screen and (min-width: 780px) and (max-width: 980px) {
  .project__para{
    font-size: 1rem;
  }
  .project__content{
    height: 70%;
  }
}