.button {
  background-color: var(--theme-on-surface);
  color: var(--theme-primary);
  transition-duration: 0.4s;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 20px;
  border-style: none;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  display: flex;
}
