.button {
  background-color: var(--theme-on-surface);
  border: 3px solid var(--theme-primary);
  color: var(--theme-on-primary);
  text-transform: capitalize;
  transition-duration: 1s;
  border-radius: 0.75rem;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}
