.eventMarker {
  box-shadow: 12px 12px 20px var(--theme-smoke-down),
    -8px -8px 15px var(--theme-smoke-up);
  border-right: 1rem solid var(--theme-on-primary);
  background-color: var(--theme-background);
  border-radius: variables.$br-default;
  position: relative;
  padding: 1.5rem;
  max-width: 90%;
  left: 10%;

  &__content {
    &__title {
      font-family: variables.$font-title;
      color: var(--theme-primary);
      font-size: 1.25rem;
      font-weight: 700;
    }

    &__sub {
      color: var(--theme-secondary);
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1rem;
    }

    &__para {
      color: var(--theme-secondary);
      word-break: break-word;
      text-align: justify;
      font-size: 1rem;
      hyphens: auto;
    }
  }

  &::after {
    background-color: var(--theme-background);
    border: 4px solid var(--theme-on-primary);
    position: absolute;
    border-radius: 50%;
    padding: 8px;
    content: ' ';
    left: -15%;
    top: 5%;
  }

  &::before {
    border: medium solid var(--theme-background);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--theme-background) transparent transparent;
    transform: translateX(-100%);
    position: absolute;
    content: ' ';
    z-index: 1;
    top: 1rem;
    left: 0;
  }

  @include mixins.for-size(tablet) {
    max-width: 90%;
    padding: 2rem;
    left: 10%;

    &__content {
      &__sub {
        font-size: 1.25rem;
      }

      &__para {
        font-size: 1.1rem;
      }
    }

    &::after {
      left: -13%;
    }
  }

  @include mixins.for-size(desktop) {
    position: relative;
    max-width: 45%;
    padding: 2rem;
    left: 55%;

    &__content {
      &__title {
        font-size: 1.25rem;
        font-weight: 700;
      }
      &__sub {
        margin-bottom: 0.75rem;
        font-weight: 700;
      }
      &__para {
        word-break: break-word;
        text-align: justify;
        hyphens: auto;
      }
    }

    &::after {
      position: absolute;
      border-radius: 50%;
      padding: 8px;
      content: ' ';
      left: -14%;
      top: 5%;
    }

    &::before {
      transform: translateX(-100%);
      position: absolute;
      content: ' ';
      z-index: 1;
      top: 1rem;
      left: 0;
    }

    &--left {
      border-right: unset;
      left: 0;

      &::after {
        transform: translateX(50%);
        right: unset;
        left: 107%;
      }

      &::before {
        transform: translateX(0);
        position: absolute;
        content: ' ';
        left: 100%;
        z-index: 1;
        top: 22px;
      }
    }
  }

  @include mixins.for-size(desktop-md) {
  }

  @include mixins.for-size(desktop-lg) {
  }
}
