.forms {
  margin: 60px 0;
}

.forms form{
  width: 65%;
  margin: auto;
  background-color: #171921;
  border-radius: 24px;
  padding: 12px 48px 48px 48px;
  flex: 1;
  display: flexbox;
  box-shadow: 25px 25px 25px rgba(23, 25, 33, 0.2), -25px -25px 25px rgba(23, 25, 33, 0.2);
}

.forms h2 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

.forms form h3 {
  flex: 1;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Prata', sans-serif;
  border-radius: 15px;
  padding: 12px;
}
