@font-face {
  font-family: 'Playfair';
  src: url('../public/fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
} 

body {
  margin: 0;
  font-family: 'Playfair', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B4332;
}

code {
  font-family: monospace, serif;
}
