.themeButton {
  background-color: var(--theme-on-surface);
  border: 2px var(--theme-primary) groove;
  color: var(--theme-primary);
  transition-duration: 0.8s;
  border-radius: 0.75rem;
  cursor: pointer;
  padding: 10px;

  justify-content: center;
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 2;
  left: 35vw;
  top: 1rem;

  &:hover {
    transform: scale(1.15);
  }

  @include mixins.for-size(tablet) {
  }
}

@media only screen and (max-width: (--desktop-width)) {
  .theme {
    bottom: 145px;
  }
}
