.menuMobile {
  position: relative;
  margin-left: 40%;
  order: -1;

  &__dropbutton {
    border-bottom-left-radius: variables.$br-default;
    border-bottom: 3px solid var(--theme-primary);
    border-left: 3px solid var(--theme-primary);
    background-color: var(--theme-on-surface);
    color: var(--theme-on-primary);
    justify-content: center;
    align-items: center;
    padding: 1.2rem;

    display: flex;
  }

  &__dropdown {
    background-color: var(--theme-on-surface);
    flex-direction: column;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;
    left: 0;

    &__link {
      border: 3px solid var(--theme-primary);
      font-family: variables.$font-title;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 800;
      padding: 1rem 1.5rem;
    }
  }

  @include mixins.for-size(tablet) {
    display: none;
  }
}
