.menu {
  display: flex;
  font-size: 16px;
  gap: 88px;
  background-color: #15202b;
}

.leftSide a, .rightSide a{
  color: white;
  text-decoration: none;
  margin: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.rightSide {
  float: right;
}

.rightSide, .leftSide {
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins';
  position: relative;
  top: 0;
  box-sizing: content-box;
  width: 100%;
  transition-duration: 0.4s;
}

.rightSide li, .leftSide li {
  display: inline;
  
}

.leftSide a:hover, .rightSide a:hover {
  background-color: #111;
}
