/* OBs:. 
    - Futuramente adicionar comportamento no header, que consiste em se esconder
    quando scrolamos a página para baixo e aparecer quando scrolamos para cima...
*/

header {
  background-color: #04100C;
  padding: 8px 48px;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  font-size: 24px;
}

header img { 
  width: auto;
  height: 60px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #1b4332;
}

li:hover{
  background-color: #1b4332;
}

nav ul {
  display: flex;
}

nav li {
  margin: 4px;
  padding: 12px;
  border-radius: 15px;
  float: left;
}