.langBtn {
  background-color: var(--theme-on-surface);
  border: 2px solid var(--theme-primary);
  color: var(--theme-on-primary);
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 1s;
  padding: 10px;

  justify-content: center;
  align-items: center;
  display: flex;

  &:hover {
    transform: scale(1.15);
  }

  @include mixins.for-size(tablet) {
    padding: 0.75rem;
  }

  @include mixins.for-size(desktop-md) {
    border-width: 3px;
    padding: 1rem;
  }
}
