.langBtn {
  background-color: transparent;
  border: none;
  border-radius: variables.$br-default;
  color: var(--theme-on-secondary);
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s;

  justify-content: center;
  align-items: center;
  display: flex;

  &:hover {
    color: var(--theme-primary);
    transform: scale(1.15) translateY(-2px);
  }
}
