.contact {
  padding: max(2vh, 1rem) 7.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: clamp(1rem, 2vh, 1.5rem);

  &__title {
    font-family: variables.$font-title;
    color: var(--theme-primary);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
  }

  &__media {
    flex-direction: column;
    text-align: center;
    display: flex;
    gap: clamp(0.5rem, 1.5vh, 1.5rem);

    &__sub {
      font-family: variables.$font-title;
      color: var(--theme-primary);
      font-size: 1.5rem;
      font-weight: 700;
    }

    &__para {
      font-size: 1.25rem;
      color: var(--theme-secondary);
    }
  }

  @include mixins.for-size(tablet) {
    padding: max(2vh, 1rem) 6rem;

    &__title {
      display: none;
    }
  }

  @include mixins.for-size(desktop) {
    flex-direction: row;
    padding: max(2vh, 1rem) 11vw;
  }

  @include mixins.for-size(desktop-md) {
    padding: max(2vh, 1rem) 10vw;

    &__media {
      &__sub {
        font-size: 1.75rem;
      }

      &__para {
        font-size: 1.45rem;
      }
    }
  }

  @include mixins.for-size(desktop-lg) {
    padding: max(2vh, 1rem) 12vw;
    gap: clamp(2rem, 5vh, 5rem);

    &__media {
      &__sub {
        font-size: 2.5rem;
      }

      &__para {
        font-size: 2rem;
      }
    }
  }
}
