.contact {
  background-color: var(--dark-primary);
  flex-direction: column;
  align-items: center;
  padding: 3rem 7.5vw;
  min-height: 80vh;
  display: flex;
  gap: 5vh;

  &__title {
    color: var(--theme-primary);
    font-size: 2.5rem;
    font-weight: 900;
  }

  @include mixins.for-size(tablet) {
    padding: 6rem 13vw;

    &__title {
      display: none;
    }
  }

  @include mixins.for-size(desktop) {
    padding: 6rem 11vw;
  }

  @include mixins.for-size(desktop-md) {
    padding: 6rem 10vw;
  }

  @include mixins.for-size(desktop-md) {
    padding: 6rem 12vw;
  }
}
