.contact {
  background-color: var(--dark-primary);
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  display: flex;
  width: 100%;
  gap: 3%;

  @include mixins.for-size(tablet) {
    padding: 6rem 13vw;

    &__title {
      display: none;
    }
  }

  @include mixins.for-size(desktop-md) {
    padding: 8rem 13vw;
  }
}
