.contact {
  padding: 2rem 7.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 10vh);
  overflow: hidden;
  display: flex;
  gap: 1.5rem;

  &__title {
    font-family: variables.$font-title;
    color: var(--theme-primary);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
  }

  &__media {
    flex-direction: column;
    text-align: center;
    display: flex;
    gap: 1.5vh;

    &__sub {
      font-family: variables.$font-title;
      color: var(--theme-primary);
      font-size: 1.5rem;
      font-weight: 700;
    }

    &__para {
      font-size: 1.25rem;
      color: var(--theme-secondary);
    }
  }

  @include mixins.for-size(tablet) {
    padding: 4rem 6rem;

    &__title {
      display: none;
    }
  }

  @include mixins.for-size(desktop) {
    flex-direction: row;
    padding: 2rem 11vw;
  }

  @include mixins.for-size(desktop-md) {
    padding: 6rem 10vw;

    &__media {
      &__sub {
        font-size: 1.75rem;
      }

      &__para {
        font-size: 1.45rem;
      }
    }
  }

  @include mixins.for-size(desktop-lg) {
    padding: 6rem 12vw;
    gap: 5rem;

    &__media {
      &__sub {
        font-size: 2.5rem;
      }

      &__para {
        font-size: 2rem;
      }
    }
  }
}
