.home {
  background-color: var(--theme-background);
  grid-template-columns: 1fr 1fr;
  color: var(--theme-primary);
  display: grid;
  height: 100vh;
  padding: 8rem;

  &__greets {
    &__title {
      font-size: 4rem;
      margin-top: 4.875rem;
      margin-bottom: 1rem;
    }

    &__para {
      color: var(--theme-secondary);
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__links {
      align-items: center;
      display: flex;
      width: 100%;
      gap: 1rem;

      &__link {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
        background-color: var(--theme-on-surface);
        color: var(--theme-primary);
        text-transform: capitalize;
        transition-duration: 1s;
        border-radius: 0.75rem;
        text-decoration: none;
        font-size: 1.25rem;
        padding: 10px 20px;
        border-style: none;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }

  &__images {
    position: relative;
    height: 406px;
    z-index: 0;

    &__prof {
      position: absolute;
      z-index: 1;
      right: 7vw;
      bottom: 2.2vw;
      width: 25vw;
      border-radius: 50%;
    }

    &__circle {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 18vw;
    }
  }
}

@media only screen and (max-width: var(--mobile-width)) {
  .home {
    &__greets {
      &__links {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
      }
      &__title {
        margin: 3rem 0 0;
        font-size: 3.5rem;
      }
      &__para {
        margin: 0;
        font-size: 1.25rem;
      }
      &__link {
        margin: 1rem 0;
      }
    }
    &__images {
      &__circle {
        width: 25vw;
      }
      &__prof {
        width: 35vw;
      }
    }
  }
}

@media only screen and (min-width: var(--mobile-width)) and (max-width: var(--desktop-width)) {
  .home {
    &__images {
      &__circle {
        width: 25vw;
      }
      &__prof {
        width: 35vw;
      }
    }
  }
}
