.intro {
  background-color: var(--dark-primary);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8vw;
  height: 100%;
}

.intro--light {
  background-color: white;
  color: var(--dark-primary);
}

.intro__title {
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}

.intro__para {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.intro__images {
  position: relative;
  height: 406px;
  z-index: 0;
}

.intro__images > .intro__circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18vw;
}

.intro__images > .intro__prof {
  position: absolute;
  z-index: 1;
  right: 7vw;
  bottom: 2.2vw;
  width: 25vw;
  border-radius: 50%;
}

.intro__social {
  gap: 8px;
  display: flex;
  align-items: center;
}

.intro__media {
  z-index: 2;
  padding: 12px;
  background-color: white;
  color: var(--dark-secondary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.8s;
}

.intro__media--light {
  color: white;
  background: var(--dark-secondary);
}

.intro__media:hover {
  transform: scale(1.15);
}
