@keyframes floatProfile {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.home {
  flex-direction: column;
  padding: 4rem 2rem;
  min-height: 80vh;
  display: flex;
  gap: 2rem;

  &__social {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

    &__profile {
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
      border: 4px solid var(--theme-primary);
      border-radius: 50%;
      width: 50vw;
      z-index: 1;
      animation: floatProfile 6s ease-in-out infinite;
      transition: all 0.3s ease;
      
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__greets {
    flex-direction: column;
    display: flex;
    gap: 1.5rem;

    &__title {
      font-family: variables.$font-title;
      color: var(--theme-primary);
      text-align: center;
      font-size: 3rem;
    }

    &__para {
      color: var(--theme-secondary);
      text-align: center;
      font-size: 1.5rem;
    }

    &__links {
      flex-direction: column;
      align-items: center;
      display: flex;
      padding: 1rem 0;
      width: 100%;
      gap: 1.5rem;

      &__link {
        background-color: var(--theme-on-surface);
        border: 3px solid var(--theme-primary);
        font-family: variables.$font-title;
        border-radius: variables.$br-default;
        color: var(--theme-on-primary);
        text-transform: capitalize;
        transition-duration: 0.5s;
        text-decoration: none;
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  @include mixins.for-size(tablet) {
    padding: 4rem;
    gap: 2rem;

    &__social {
      &__profile {
        width: 30vw;
        right: 35%;
        top: 10%;
      }
    }

    &__greets {
      &__para {
        font-size: 1.75rem;
      }

      &__links {
        gap: 2rem;

        &__link {
          font-size: 1.5rem;
        }
      }
    }
  }

  @include mixins.for-size(desktop) {
    padding: 4rem 6rem;
    gap: 4rem;

    &__social {
      &__profile {
        width: 25vw;
        right: 40%;
      }
    }

    &__greets {
      &__para {
        font-size: 2rem;
      }

      &__links {
        &__link {
          padding: 0.5rem 2.5rem;
          font-size: 1.75rem;
        }
      }
    }
  }

  @include mixins.for-size(desktop-md) {
    padding: 6rem 8rem;
    gap: 6rem;

    &__social {
      &__profile {
        width: 20vw;
        right: 40%;
      }
    }

    &__greets {
      &__links {
        &__link {
          padding: 0.5rem 2.5rem;
          font-size: 1.75rem;
        }
      }
    }
  }

  @include mixins.for-size(desktop-lg) {
    padding: 4rem;
    gap: 4rem;

    &__greets {
      &__links {
        &__link {
          padding: 0.75rem 2.75rem;
          font-size: 2.25rem;
        }
      }
    }
  }
}
