.languageButton {
  background-color: var(--theme-on-surface);
  color: var(--theme-primary);
  transition-duration: 0.8s;
  border-radius: 0.75rem;
  cursor: pointer;
  padding: 10px;
  border: none;

  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4.5rem;
  display: flex;
  right: 1rem;
  z-index: 1;

  &:hover {
    transform: scale(1.15);
  }
}

@media only screen and (max-width: var(--desktop-width)) {
  .languageButton {
    bottom: 95px;
  }
}
