.softSkills {
  flex-direction: column;
  max-width: 90%;
  display: flex;
  gap: 1.5rem;

  &__sub {
    color: var(--theme-secondary);
    text-align: center;
    font-size: 1.5rem;
  }

  &__container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
  }

  @include mixins.for-size(desktop) {
    max-width: 75%;
    gap: 3rem;
  }
}
