.forms {
  display: flexbox;
  width: 60%;
  margin: auto;
  padding: 48px;  
}

.forms form{
  background-color: #171921;
  border-radius: 24px;
  padding: 12px 48px 48px 48px;
  flex: 1;
  box-shadow: 8px 8px 25px rgba(255, 255, 255, 0.5);
}

.forms h2 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

.forms form h3 {
  flex: 1;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Prata', sans-serif;
  border-radius: 15px;
  padding: 12px;
}
