.button {
  padding: 20px 40px;
  font-size: 24px;
  transition-duration: 0.4s;
  border-radius: 12px;
  border-style: none;
  background-color: #04AA6D;
}

.button:hover {
  background-color: white;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover a {
  color: #04AA6D;
}