.areafield {
  border-radius: variables.$br-default;
  position: relative;
  width: 100%;

  &__input {
    background-color: var(--theme-background);
    border: 3px solid var(--theme-primary);
    border-radius: variables.$br-default;
    padding: calc(0.5rem * 1.5) 1.5rem;
    caret-color: var(--theme-primary);
    color: var(--theme-on-surface);
    box-sizing: border-box;
    max-height: 40vh;
    min-height: 15vh;
    resize: vertical;
    font-size: 1rem;
    display: block;
    outline: none;
    width: 100%;

    &:focus,
    &:not(:placeholder-shown) {
      & + .areafield__label {
        transform: translate(0.25rem, -65%) scale(0.9);
      }
    }
  }

  &__label {
    margin: calc(0.5rem * 0.75 + 3px) calc(1.5rem * 0.5);
    padding: calc(0.5rem * 0.75) calc(1.5rem * 0.5);
    background-color: var(--theme-background);
    border-radius: variables.$br-default;
    transition: transform 120ms ease-in;
    font-family: variables.$font-title;
    color: var(--theme-primary);
    transform-origin: 0 0;
    position: absolute;
    font-weight: 700;
    top: 0;
  }

  &__error {
    margin: calc(0.5rem * 0.75 + 3px) calc(1.5rem * 0.5);
    padding: calc(0.5rem * 0.75) calc(1.5rem * 0.5);
    background-color: var(--theme-background);
    color: var(--theme-danger-background);
    border-radius: variables.$br-default;
    transform: translate(-50%);
    position: absolute;
    font-size: 0.85rem;
    font-weight: 700;
    bottom: -1.25rem;
    transition: 1s;
    left: 50%;
  }

  &:has(.areafield__error) {
    .areafield__input {
      border-color: var(--theme-on-primary);
    }
  }

  @include mixins.for-size(desktop-lg) {
    &__input {
      padding: calc(1rem * 1.5) 1.5rem;
    }

    &__label {
      font-size: 2rem;
    }
  }
}
