.field {
  color: var(--theme-primary);
  position: relative;
  width: 100%;

  textarea {
    max-height: 50vh;
    resize: vertical;
    
  }

  &__input {
    background-color: var(--theme-background);
    border: 3px solid var(--theme-primary);
    padding: calc(0.5rem * 1.5) 1.5rem;
    caret-color: var(--theme-primary);
    box-sizing: border-box;
    border-radius: 0.75rem;
    font-size: 1rem;
    display: block;
    outline: none;
    width: 100%;

    &:focus {
      & + .field__label {
        transform: translate(0.25rem, -65%) scale(0.9);
      }
    }
  }

  &__label {
    margin: calc(0.5rem * 0.75 + 3px) calc(1.5rem * 0.5);
    padding: calc(0.5rem * 0.75) calc(1.5rem * 0.5);
    background-color: var(--theme-background);
    transition: transform 120ms ease-in;
    border-radius: 0.75rem;
    transform-origin: 0 0;
    position: absolute;
    font-weight: 700;
    top: 0;
  }
}
