.header {
  box-shadow: 0 10px 10px var(--theme-gradient);
  background: var(--theme-gradient);

  color: var(--theme-primary);
  position: sticky;
  z-index: 2;
  top: 0;

  justify-content: space-between;
  align-items: center;  
  display: flex;

  &__logo {
    border-bottom-right-radius: variables.$br-default;
    border-bottom: 3px solid var(--theme-on-surface);
    border-right: 3px solid var(--theme-on-surface);

    width: 4.75rem;
    display: flex;
    order: -1;

    &--md {
      display: none;
    }
  }

  @include mixins.for-size(tablet) {
    box-shadow: 0 1px 16px var(--theme-primary);
    background: var(--theme-background);

    overflow: hidden;
    padding: 0 3rem;
    opacity: unset;
    height: 10vh;

    &__logo {
      border-bottom-left-radius: unset;
      border-bottom: unset;
      border-right: unset;
      width: unset;
      height: 100%;
    }
  }

  @include mixins.for-size(desktop) {
    padding: 0 4rem;
    &__logo {
      display: none;

      &--md {
        display: flex;
        height: 100%;
      }
    }
  }

  @include mixins.for-size(desktop-md) {
    padding: 0 8rem;
  }
}
