.header {
  background-color: var(--theme-background-opaque);
  box-shadow: 0 10px 10px var(--theme-background);
  color: var(--theme-primary);
  position: sticky;
  z-index: 2;
  top: 0;

  justify-content: space-between;
  align-items: center;
  display: flex;

  &__logo {
    border-bottom: 3px solid var(--theme-on-surface);
    border-left: 3px solid var(--theme-on-surface);
    border-bottom-left-radius: 1rem;
    width: 4.75rem;
    display: flex;

    &--lg {
      display: none;
    }
  }

  @include mixins.for-size(tablet) {
    border-bottom: 1.5px solid var(--theme-on-surface);
    background-color: var(--theme-background);
    box-shadow: none;
    padding: 0 3rem;
    opacity: unset;
    height: 10vh;

    &__logo {
      border-right: 1.5px solid var(--theme-on-surface);
      border-left: 1.5px solid var(--theme-on-surface);
      border-bottom-left-radius: 0;
      border-bottom: none;
      width: unset;
      height: 100%;
    }
  }

  @include mixins.for-size(desktop) {
    padding: 0 4rem;
    &__logo {
      display: none;

      &--lg {
        border-left: 1.5px solid var(--theme-on-surface);
        border-right: 1.5px solid var(--theme-on-surface);
        display: flex;
        height: 100%;
      }
    }
  }

  @include mixins.for-size(desktop-md) {
    padding: 0 8rem;
  }
}
