.menu {
  background-color: var(--dark-secondary);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  align-items: center;
  gap: 10%;
  position: fixed;
  top: 0;
  height: 9%;
  width: 100%;
  display: flex;
  z-index: 1;
}

.menu--light {
  background-color: white;
  color: var(--dark-secondary);
}

