.sect-skills {
  background-color: #171921;
  text-align: center;
  padding: 24px;
  align-items: center;
  box-shadow: 0 10px 10px rgba(23, 25, 33, 0.9), 0 -10px 10px rgba(23, 25, 33, 0.9);
  margin: 80px 0px;
}

.sect-skills h1 {
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-size: 3rem;
}

.skills {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  padding: 24px;
  align-items: center;
}

.skills h3 {
  font-size: 1.5rem;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

