.loading {
  flex-direction: column;
  margin: 3rem 10vw;
  display: flex;
  gap: 2rem;

  &__title {
    color: var(--theme-primary);
    font-size: 2rem;
  }

  @include mixins.for-size(desktop) {
    &__title {
      font-size: 3.5rem;
    }
  }
}
