.loading {
  flex-direction: column;
  margin: 10vh auto;
  width: 80vw;
  max-width: 600px;
  
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  min-height: 50vh;

  &__title {
    font-family: variables.$font-title;
    color: var(--theme-primary);
    text-transform: uppercase;
    font-size: 2rem;
  }

  @include mixins.for-size(desktop) {
    &__title {
      font-size: 3.5rem;
    }
  }
}
