.stack {
  position: relative;
  height: 7rem;
  width: 100vw;

  &::before,
  &::after {
    position: absolute;
    width: 25%;
    height: 100%;
    content: '';
    z-index: 1;
    top: 0;
  }

  &::before {
    background: var(--theme-gradient-left);
    left: 0;
  }

  &::after {
    background: var(--theme-gradient-right);
    right: 0;
  }

  &__slider {
    position: absolute;
    display: flex;
    gap: 4rem;
  }
}
