.general-info {
  margin: 56px;
}

.general-info h1 {
  font-size: 72px;
  font-weight: 700;
  text-shadow: 5px 5px 25px rgba(255, 255, 255, 0.5);
}

.general-info h2, .about-me h2 {
  font-size: 40px;
} 

.general-info p, .about-me p {
  text-align: justify;
  font-size: 20px;
}

.img-section {
  min-width: 40%;
  border-radius: 25px;
}

.about-me {
  margin: 56px;
  display: flex;
  gap: 48px;
  text-align: justify;
}

.title {
  font-family: 'Poppins', sans-serif;
}

.text {
  font-family: 'Roboto', sans-serif;
}
