.card {
  border-radius: variables.$br-default;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-width: 500px;
  display: flex;

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
