.social {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.75rem;

  &__media {
    background-color: var(--theme-on-surface);
    border: 2px solid var(--theme-primary);
    border-radius: variables.$br-default;
    color: var(--theme-on-primary);
    transition-duration: 0.8s;
    justify-content: center;
    border-style: groove;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;

    &:hover {
      transform: scale(1.15);
    }

    @include mixins.for-size(tablet) {
      padding: 0.75rem;
    }

    @include mixins.for-size(desktop-md) {
      border-width: 3px;
      padding: 1rem;
    }
  }
}
