.social {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.75rem;

  &__media {
    background-color: var(--theme-on-surface);
    color: var(--theme-primary);
    transition-duration: 0.8s;
    justify-content: center;
    border-radius: 0.75rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;
    border: none;
    z-index: 2;

    &:hover {
      transform: scale(1.15);
    }
  }
}
