.myself {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 1rem;

  &__sub {
    font-family: variables.$font-title;
    color: var(--theme-secondary);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
  }

  &__photo {
    border-radius: variables.$border-radius-xl;
    margin-bottom: 0.5rem;
    max-width: 400px;
    width: 90%;
  }

  &__para {
    color: var(--theme-secondary);
    word-break: break-word;
    line-height: 1.75rem;
    text-align: justify;
    font-size: 1.1rem;
    text-indent: 5%;
    hyphens: auto;
  }

  @include mixins.for-size(tablet) {
    display: unset;

    &__sub {
      margin-bottom: 1rem;
      text-align: left;
      font-size: 2rem;
    }

    &__photo {
      margin-right: 1rem;
      float: left;
      width: 40%;
    }

    &__para {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      text-indent: 5%;
      hyphens: auto;
    }
  }

  @include mixins.for-size(desktop-lg) {
    &__sub {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }

    &__photo {
      margin-right: 2rem;
    }

    &__para {
      margin-bottom: 1rem;
      font-size: 1.75rem;
      text-indent: 2.5%;
    }
  }
}
