.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  font-size: 21px;
  font-weight: 900;
  background-color: var(--dark-secondary);
  color: white;
  font-variant: small-caps;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4); 
}

.footer--light {
  background-color: white;
  color: black;
}