.footer {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--theme-background);
  color: var(--theme-secondary);

  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  display: flex;
  padding: 14px;
  width: 100%;
  z-index: 1;
  bottom: 0;

  &__para {
    font-variant: small-caps;
    font-weight: 900;
    font-size: 21px;
  }
}
