.skills {
  color: var(--theme-primary);
  flex-direction: column;
  align-items: center;
  padding: 3rem 7.5vw;
  overflow: hidden;
  min-height: 80vh;
  display: flex;
  gap: 4rem;

  @include mixins.for-size(tablet) {
    padding: 6rem 13vw;
    gap: 5rem;
  }

  @include mixins.for-size(desktop) {
    padding: 4rem 11vw;
    gap: 6rem;
  }

  @include mixins.for-size(desktop-md) {
    padding: 6rem 10vw;
  }

  @include mixins.for-size(desktop-md) {
    padding: 6rem 0;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }
}

.sub {
  font-family: variables.$font-title;
  color: var(--theme-primary);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
