.project {
  box-shadow: 12px 12px 20px var(--theme-smoke-down),
    -8px -8px 15px var(--theme-smoke-up);
  background-color: var(--theme-background);
  border: 3px solid var(--theme-primary);
  border-radius: variables.$br-default;
  height: 100%;
  overflow: hidden;

  flex-direction: column;
  display: flex;

  &__banner {
    border-top-right-radius: variables.$br-default;
    border-top-left-radius: variables.$br-default;
    border-bottom: 3px solid var(--theme-primary);
    background-color: var(--theme-primary);

    object-position: 0;
    object-fit: cover;
    transition: 1s;
    flex-grow: 0.4;
    width: 100%;

    &:hover {
      box-shadow: 5px 5px 20px var(--theme-smoke-down) inset,
        -5px -5px 8px var(--theme-smoke-up) inset;
    }
  }

  &__content {
    text-align: center;
    transition: 0.5s;
    flex: 1;

    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 1rem;
    gap: 1rem;

    &__title {
      color: var(--theme-primary);
      font-family: variables.$font-title;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 1.5rem;
      font-weight: 800;
    }

    &__description {
      color: var(--theme-secondary);
      text-align: justify;
      font-size: 1.15rem;
    }
  }

  &__stack {
    flex-wrap: wrap;
    display: flex;

    &__tag {
      text-transform: uppercase;
      border-right: 3px solid var(--theme-primary);
      border-top: 3px solid var(--theme-primary);
      padding: 0.5rem 1rem;
      text-align: center;
      letter-spacing: 1.25px;
      font-size: 0.75rem;
      font-weight: 800;
      transition: 1s;
      flex-grow: 1;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__actions {
    border-bottom-right-radius: variables.$br-default;
    border-bottom-left-radius: variables.$br-default;
    border-top: 3px solid var(--theme-primary);
    background-color: var(--theme-on-surface);
    display: flex;

    a {
      color: var(--theme-on-primary);
      text-align: center;
      font-weight: 800;
      padding: 1rem 0;
      font-size: 1.15rem;
      cursor: pointer;
      width: 100%;
    }

    a:first-child {
      border-right: 3px solid var(--theme-primary);
    }
  }

  @include mixins.for-size(tablet) {
    &__content {
      padding: 1rem 2rem;
      &__title {
        font-size: 2rem;
      }

      &__description {
        font-size: 1.25rem;
      }
    }

    &__actions {
      a {
        font-size: 1.5rem;
      }
    }
  }

  @include mixins.for-size(desktop) {
    &__stack {
      &__tag {
        font-size: 1rem;
      }
    }
  }
}
