/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* PATTERNS */
:root {
  --dark-primary: #1d2a35;
  --dark-secondary: #171921;
  --green: #04AA6D;
}

html, body, #root{
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  background-color: white;
  color: black;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

*{
  box-sizing: inherit;
}

.buttons {
  background-color: #04AA6D;
  border: none;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.5);
  transition-duration: 0.4s;
}