:root.light {
  @include mixins.spread-map(variables.$theme-map-light);
}

:root.dark {
  @include mixins.spread-map(variables.$theme-map-dark);
}

body {
  /*   background-image: url('public/images/common/circle.png');
  background-repeat: repeat;
  background-size: contain;
 */
  box-sizing: border-box;
  margin: 0;
}

:root {
  transition: 0.5s;
  background-color: var(--theme-surface);
  min-height: 100vh;
}
