:root.light {
  @include mixins.spread-map(variables.$theme-map-light);
}

:root.dark {
  @include mixins.spread-map(variables.$theme-map-dark);
}

body {
  box-sizing: border-box;
  margin: 0;
}

:root {
  background-color: var(--theme-background);
  min-height: 100vh;
}
