@use './variables.scss' as *;

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

@mixin for-size($device) {
  @if $device == tablet {
    @media (min-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  } @else if $device == desktop-md {
    @media (min-width: $breakpoint-desktop-md) {
      @content;
    }
  } @else if $device == desktop-lg {
    @media (min-width: $breakpoint-desktop-lg) {
      @content;
    }
  }
}

@mixin container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @include for-size(tablet) {
    max-width: $breakpoint-tablet;
  }
  @include for-size(desktop) {
    max-width: $breakpoint-desktop;
  }
  @include for-size(desktop-md) {
    max-width: $breakpoint-desktop-md;
  }
}
