$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-surface: --theme-surface;
$--theme-background: --theme-background;
$--theme-on-primary: --theme-on-primary;
$--theme-on-secondary: --theme-on-secondary;
$--theme-on-surface: --theme-on-surface;

$theme-map-light: (
  $--theme-primary: #5d7715,
  $--theme-secondary: #000000,
  $--theme-surface: #f3f1ed,
  $--theme-background: #f3f1ed,
  $--theme-on-primary: #96c11f,
  $--theme-on-secondary: #f8f8f8,
  $--theme-on-surface: #1a1a1a,
);

$theme-map-dark: (
  $--theme-primary: #96c11f,
  $--theme-secondary: #f8f8f8,
  $--theme-surface: #1a1a1a,
  $--theme-background: #1a1a1a,
  $--theme-on-primary: #5d7715,
  $--theme-on-secondary: #000000,
  $--theme-on-surface: #f3f1ed,
);

// fonts
$font-text: 'Montserrat';
$font-titles: 'Poppins';
$font-size: 18px;

$green: #96c11f;
$green-opaque: #96c11f93;
$green-dark: #5d7715;
$dark: #000000;
$dark-black: #1a1a1a;
$dark-black-opaque: #1a1a1afa;
$dark-gray: #4e4e4e;
$light: #f8f8f8;
$light-cream: #f3f1ed;
$light-gray: #babbbb;
