// fonts
$font-title: 'Merriweather';
$font-size: 18px;

// colors
$dark: #000000;
$light: #ffffff;
// primary color - green
$green-lightest: hsl(120, 74%, 77%);
$green-lighter: hsl(120, 69%, 71%);
$green-light: hsl(120, 65%, 64%);
$green-neutral-light: hsl(120, 63%, 57%);
$green-neutral: hsl(120, 61%, 50%);
$green-neutral-dark: hsl(120, 61%, 39%);
$green-dark: hsl(120, 61%, 28%);
$green-darker: hsl(120, 60%, 17%);
$green-darkest: hsl(120, 64%, 5%);
// secondary color - red
$red-lightest: hsl(350, 100%, 78%);
$red-light: hsl(354, 85%, 62%);
$red-neutral: hsl(356, 95%, 46%);
$red-dark: hsl(356, 96%, 33%);
$red-darkest: hsl(353, 100%, 20%);
// secondary color - yellow
$yellow-lightest: hsl(58, 96%, 71%);
$yellow-light: hsl(57, 99%, 61%);
$yellow-neutral: hsl(56, 100%, 50%);
$yellow-dark: hsl(48, 94%, 48%);
$yellow-darkest: hsl(38, 88%, 45%);
// grays
$gray-lightest: hsl(161, 5%, 88%);
$gray-lighter: hsl(161, 5%, 83%);
$gray-light: hsl(161, 5%, 78%);
$gray-neutral-light: hsl(161, 4%, 68%);
$gray-neutral: hsl(161, 4%, 48%);
$gray-neutral-dark: hsl(162, 4%, 27%);
$gray-dark: hsl(160, 3%, 17%);
$gray-darker: hsl(165, 3%, 12%);
$gray-darkest: hsl(180, 3%, 7%);
// gradients
$gradient-dark: linear-gradient(
  90deg,
  hsla(180, 3%, 7%, 1) 0%,
  hsla(120, 62%, 5%, 1) 86%,
  hsla(180, 3%, 7%, 1) 100%
);
$gradient-light: linear-gradient(
  90deg,
  hsla(0, 0%, 100%, 1) 0%,
  hsla(120, 85%, 90%, 1) 50%,
  hsla(0, 0%, 100%, 1) 98%
);

// borders
// radius
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-xl: 24px;
$border-radius-rounded: 50%;
$br-default: $border-radius-md;

// devices widths
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-md: 1440px;
$breakpoint-desktop-lg: 1880px;

$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-surface: --theme-surface;
$--theme-tertiary: --theme-tertiary;
$--theme-on-tertiary: --theme-on-tertiary;
$--theme-background: --theme-background;
$--theme-on-primary: --theme-on-primary;
$--theme-on-secondary: --theme-on-secondary;
$--theme-on-surface: --theme-on-surface;
$--theme-smoke-down: --theme-smoke-down;
$--theme-smoke-up: --theme-smoke-up;
$--theme-lowest-contrast: --theme-higher-contrast;
$--theme-gradient: --theme-gradient;
$--theme-on-gradient: --theme-on-gradient;
$--theme-danger-primary: --theme-danger-primary;
$--theme-danger-secondary: --theme-danger-secondary;
$--theme-danger-background: --theme-danger-background;

// themes
$theme-map-light: (
  $--theme-primary: $green-dark,
  $--theme-secondary: $gray-darkest,
  $--theme-tertiary: $green-darkest,
  $--theme-surface: $gray-lightest,
  $--theme-background: $light,
  $--theme-on-primary: $green-neutral,
  $--theme-on-secondary: $gray-neutral,
  $--theme-on-tertiary: $green-darkest,
  $--theme-on-surface: #1a1a1a,
  $--theme-smoke-down: #0000004d,
  $--theme-smoke-up: #ffffff,
  $--theme-lowest-contrast: $light,
  $--theme-gradient: $gradient-light,
  $--theme-on-gradient: $gradient-dark,
  $--theme-danger-primary: $red-light,
  $--theme-danger-secondary: $red-dark,
  $--theme-danger-background: $red-neutral,
);

$theme-map-dark: (
  $--theme-primary: $green-neutral,
  $--theme-secondary: $gray-lightest,
  $--theme-tertiary: $green-neutral,
  $--theme-surface: $gray-lightest,
  $--theme-background: $gray-darkest,
  $--theme-on-primary: hsl(120, 61%, 28%),
  $--theme-on-secondary: $gray-lightest,
  $--theme-on-tertiary: $gray-neutral,
  $--theme-on-surface: #f3f1ed,
  $--theme-smoke-down: $dark,
  $--theme-smoke-up: $green-darker,
  $--theme-lowest-contrast: $dark,
  $--theme-gradient: $gradient-dark,
  $--theme-on-gradient: $gradient-light,
  $--theme-danger-primary: $red-dark,
  $--theme-danger-secondary: $red-light,
  $--theme-danger-background: $red-neutral,
);
