#header {
    background-color: #04100C;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

nav {
    text-align: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-size: 20px;
}
