@font-face {
    font-family: 'Checkbook';
    src: url('fonts\\Checkbook-1K2.ttf') format('truetype');
    font-family: 'Quicksand';
    src: url('fonts\\QuicksandbookRegular-0gW4.otf') format('truetype');
    /* Adicione outras formatos de fonte, se aplicável */
}  

/* Reset de estilos para garantir uma base limpa */
body, h1, h2, h3, p, ul, li, a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand';
    color: #00ADB5;
}

body {
    background-color: #112D4E;
    font-size: 16px;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #3F72AF;
}

header h1 {
    font-size: 36px;
    color: #EEEEEE; 
}

header p {
    font-size: 18px;
}

nav {
    background-color: #112D4E;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-size: 20px;
    color: #EEEEEE;
}

section {
    padding: 50px;
}

h2 {
    font-size: 24px;
    color: #EEEEEE; /
}

.projeto {
    margin: 30px 0;
}

.projeto h3 {
    font-size: 20px;
}

.projeto p {
    font-size: 16px;
}

.projeto a {
    color: #EEEEEE; 
}

footer {
    background-color: #3F72AF;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
}
