section {
    padding: 48px;
}

#about * {
    margin: 8px 0px;
}

#about h1 {
    font-size: 40px;
}

#about h2 {
    font-size: 28px;
}

#about button{
    border-radius: 18px;
    font-size: 16px;
    color: #52b788;
    border-color: #52b788;
    background-color: #04100c;
    padding: 8px;
}

#about button:hover{
    color: #04100c;
    border-color: #04100c;
    background-color: #38805f;
}

.project {
    margin: 24px 0;
}

#contact *{
margin: 4px 0px;
font-size: 24px;
}

#contact-form {
    display: flexbox;
    justify-content: center;
    text-align: center;
}

#contact-form h2 {
    font-size: 48px;
}

#contact h2{
    margin-top: 48px;
}
