h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

section {
    padding: 48px;
}

#about-me {
    display: flex;
    gap: 48px;
    text-align: justify;
}

#contact *{
    margin: 8px auto;
}

#contact-form {
    text-align: center;
}

#about * {
    margin: 8px 0px;
}

.img-section {
    max-width: 40%;
    border-radius: 15px;
}

.buttons {
    border-radius: 18px;
    font-size: 16px;
    color: #52b788;
    border-color: #52b788;
    background-color: #04100c;
    padding: 8px;
}

.buttons:hover{
    color: #04100c;
    border-color: #04100c;
    background-color: #38805f;
}

.project {
    margin: 24px 0;
}

.rounded {
    color: black;
    border-radius: 15px;
    padding: 8px;
}