section {
    padding: 48px;
}

#about {
}

#about button{
    border-radius: 10px;
    font-size: medium;
    color: #52b788;
    border-color: #52b788;
    background-color: #04100c;
    padding: 10px;
}

#about button:hover{
    color: #04100c;
    border-color: #04100c;
    background-color: #38805f;
}

.projeto {
    margin: 30px 0;
}